{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block body_attrs %}{% if article.category %}data-category-slug="{{ article.category.slug }}"{% endif %}{% endblock %}
{% block content %}
<section id="content">
        <article>
                <header>
                        <h1>
                                <a href="{{ pagename }}"
                                        rel="bookmark"
                                        title="Permalink to {{ article.title|striptags }}">
                                        {{ article.title}}
                                </a>
                                {% include 'twitter.html' %}
                        </h1>
                </header>

                {% set sorted_articles = articles | sort(attribute='source_path') %}
                {% set nav = namespace(prev=None, next=None) %}
                {% for item in sorted_articles %}
                        {% if item == article %}
                                {% if not loop.first %}
                                        {% set nav.prev = sorted_articles[loop.index0 - 1] %}
                                {% endif %}
                                {% if not loop.last %}
                                        {% set nav.next = sorted_articles[loop.index0 + 1] %}
                                {% endif %}
                        {% endif %}
                {% endfor %}

                <div class="entry-content">
                <!--div class="well">
                      {% include 'article_infos.html' %}
                </div-->
                {% if nav.prev or nav.next %}
                <div class="article-pagination article-pagination--top">
                        <div class="article-pagination__item article-pagination__item--prev">
                                {% if nav.prev %}
                                <a class="article-pagination__link article-pagination__link--prev" href="{{ SITEURL }}/{{ nav.prev.url }}">⟶ مطلب قبلی</a>
                                {% endif %}
                        </div>
                        <div class="article-pagination__item article-pagination__item--next">
                                {% if nav.next %}
                                <a class="article-pagination__link article-pagination__link--next" href="{{ SITEURL }}/{{ nav.next.url }}">مطلب بعدی ⟵</a>
                                {% endif %}
                        </div>
                </div>
                {% endif %}

                {{ article.content }}

                {% if nav.prev or nav.next %}
                <div class="article-pagination article-pagination--bottom">
                        <div class="article-pagination__item article-pagination__item--prev">
                                {% if nav.prev %}
                                <a class="article-pagination__link article-pagination__link--prev" href="{{ SITEURL }}/{{ nav.prev.url }}">⟶ مطلب قبلی</a>
                                {% endif %}
                        </div>
                        <div class="article-pagination__item article-pagination__item--next">
                                {% if nav.next %}
                                <a class="article-pagination__link article-pagination__link--next" href="{{ SITEURL }}/{{ nav.next.url }}">مطلب بعدی ⟵</a>
                                {% endif %}
                        </div>
                </div>
                {% endif %}

                </div><!-- /.entry-content -->
                {% if DISQUS_SITENAME %}
                <div class="comments">
                <h2>Comments !</h2>
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                           var disqus_identifier = "{{ article.url }}";
                           (function() {
                                var dsq = document.createElement('script');
                                dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] ||
                                 document.getElementsByTagName('body')[0]).appendChild(dsq);
                          })();
                        </script>
                </div>
                {% endif %}
        </article>

        <hr />
</section>
{% endblock %}
