<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156201591-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156201591-1');
    </script>

    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css" />
    <!--link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap-rtl.css" type="text/css" /-->
    <link href="{{ SITEURL }}/theme/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/font-awesome.css" rel="stylesheet">

    <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ SITEURL }}/theme/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/theme/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/theme/images/apple-touch-icon-114x114.png">

    <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
    {% if FEED_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

  </head>

  <body>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ SITEURL }}/index.html"><img alt="logo" style="height:20px;" src="{{ SITEURL }}/theme/images/favicon.ico"/> {{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>
          <div class="nav-collapse">
            <ul class="nav">
                <li><a href="{{ SITEURL }}/pages/about.html">درباره</a></li>
                <li><a href="{{ SITEURL }}/pages/downloads.html">دانلود</a></li>                
                <li><a href="{{ SITEURL }}/pages/support.html">حمایت</a></li>
                          <!--ul class="nav pull-right">
                                <li><a href="{{ SITEURL }}/archives.html"><i class="icon-th-list"></i>Archives</a></li>
                          </ul-->

            </ul>
            <!--<p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span9">
          <div class="attentionBox">
            <b>ℹ️ توجه</b><br>
            این کتاب در حال تکمیل است. مطالب فعلی اصلاح و مطالب جدیدی به آن افزوده خواهد شد. شما در حال دیدن آن هستید چون نیازی نیست چیزی برای دیده شدن منتظر کامل
            شدن بماند. چیزها همیشه در حال تکمیل شدن هستند، در این مورد هم همینطور است؛ ولی دلیلی ندارد همین حالا هم به درد کسی نخورد.
            </div>    
            {% block content %}
            {% endblock %}
        </div><!--/span-->

        <div class="span3 well sidebar-nav" id="sidebar">
            {% include 'sidebar.html' %}
        </div><!--/.well -->

      </div><!--/row-->

      <hr>

      <footer>
        <address id="about">
                ساخته شده با <a href="https://blog.getpelican.com/">Pelican <i class="icon-external-link"></i></a>,
                                که خود از <a href="http://python.org">Python <i class="icon-external-link"></i></a> قدرت می‌گیرد.
        </address><!-- /#about -->
        <address class="description">این کتاب توسط <a href="https://www.mort.ir">مرتضی قربانی کاری <i class="icon-external-link"></i></a> منتشر شده و
             هر شکلی از تکثیر مجدد آن با ذکر نام و لینک اصلی مجاز است.
             <br>
             به اصلاحی نیاز هست؟ می‌خواهید مشارکت کنید؟ پروژه <a href="https://github.com/mortezagk/evolution101">روی گیت هاب <i class="icon-github-sign"></i></a> هست.
             <br>
             <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.fa"><img alt="مجوز کریتیو کامنز" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
        </address>
      </footer>

    </div><!--/.fluid-container-->


    {% include 'analytics.html' %}
    {% include 'piwik.html' %}
    {% include 'disqus_script.html' %}

    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ SITEURL }}/theme/js/jquery-1.7.2.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
  </body>
</html>
