{% extends "base.html" %}
{% block title %}{% if page.url == 'index.html' %}{{ SITENAME }}{% else %}{{ page.title }} | {{ SITENAME }}{% endif %}{% endblock %}
{% block description %}{{ page.content|plain_text(160) or SITENAME }}{% endblock %}
{% block head_extra %}
  {% if CANONICAL_SITEURL %}
  <link rel="canonical" href="{{ CANONICAL_SITEURL }}/{{ page.url|replace('index.html', '') }}">
  {% endif %}
{% endblock %}
{% block content %}
<section id="content" class="body">
        <h1 class="entry-title">{{ page.title }}</h1>
        {% if page.source %}
        <a class="source-link" href="{{ page.source }}" rel="noopener" target="_blank" title="{{ page.source_title or page.source }}">متن اصلی ⎋</a>
        {% endif %}
        {% if PDF_PROCESSOR %}
                <a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">
                        get the pdf
                </a>
        {% endif %}
        {{ page.content }}
</section>
{% endblock %}

