<ul class="nav nav-list">
    <li class="nav-header">
      <h4><i class="icon-info-sign icon-large"></i></h4>
    </li>
    <li>
      <ul>
        <li>
          <a href="{{ SITEURL }}/pages/about.html">درباره</a>
        </li>
        <li>
          <a href="{{ SITEURL }}/pages/support.html">حمایت</a>
        </li>
      </ul>
    </li>
    <li class="nav-header">
      <h4><i class="icon-search icon-large"></i>لینک‌ها</h4>
    </li>
    {% include 'search_sidebar.html' %}

    <li class="nav-header">
      <h4><i class="icon-book icon-large"></i>محتوای کتاب</h4>
    </li>
    <li>
      <ul>
        {% for category, articles in categories %}
          <li>
            <a><font size="4" color="#00547e"><i class="icon-folder-open"></i><b>{{ category }}</b></font></a>
          </li>
          <li>
            <ul>
              {% for article in articles %}
              <li>
                <font size="3">
                  <a href="{{ SITEURL }}/{{ article.url }}">
                      <i class="icon-bookmark"></i>{{ article.title }}
                  </a>
                </font>
              </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </li>



{% include 'twitter_profile.html' %}

{% if SIDEBAR_CUSTOM %}
    {{ SIDEBAR_CUSTOM }}
{% endif %}
</ul>
