<ul class="nav nav-list">
    <li>
      <ul>
        <li>
          <a href="{{ SITEURL }}/pages/about.html">درباره <i class="icon-info-sign"></i></a>
        </li>
        <li>
          <a href="{{ SITEURL }}/pages/search.html">جستجو <i class="icon-search"></i></a>
        </li>
      </ul>
    </li>
    {% include 'search_sidebar.html' %}

    <li>
      <ul>
        {% set current_category = category if category is defined else None %}
        {% for category, articles in categories %}
          {% set category_slug = category.slug if category.slug is defined else category|string %}
          {% set group_id = 'cat-' ~ loop.index %}
          {% set is_active_group = current_category and (category == current_category or category_slug == current_category.slug) %}
          {% set sorted_articles = articles|sort(attribute='section_index') %}
          <li class="category-group{% if is_active_group %} is-open{% endif %}" data-category-slug="{{ category_slug }}">
            <div class="category-header">
              <a class="category-link category-toggle" href="#" role="button" aria-controls="sidebar-{{ group_id }}" aria-expanded="{% if is_active_group %}true{% else %}false{% endif %}">
                <span class="category-title"><i class="icon-book icon-large"></i>{{ category|persian_digits }}</span>
              </a>
            </div>
            <ul id="sidebar-{{ group_id }}" class="category-articles{% if not is_active_group %} is-collapsed{% endif %}">
              {% for article in sorted_articles %}
              <li>
                <a href="{{ SITEURL }}/{{ article.url }}">
                  {% if article.section_index %}<span class="category-article-index">{{ (article.section_index|int + 1)|persian_digits }}</span>{% endif %}
                  <span class="category-article-title">{{ article.title|persian_digits }}</span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </li>



{% include 'twitter_profile.html' %}

{% if SIDEBAR_CUSTOM %}
    {{ SIDEBAR_CUSTOM }}
{% endif %}
</ul>
